
*.xml
Breadth-First-Search/.idea/workspace.xml
Breadth-First-Search/.idea/dictionaries/Hulla.xml
Breadth-First-Search/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Breadth-First-Search/.gradle/4.8/taskHistory/taskHistory.lock
Breadth-First-Search/.gradle/4.8/taskHistory/taskHistory.bin
Breadth-First-Search/.gradle/4.8/fileHashes/fileHashes.lock
Breadth-First-Search/.gradle/4.8/fileHashes/fileHashes.bin
*.txt
Breadth-First-Search/results.txt
Breadth-First-Search/.gradle/4.8/fileHashes/fileHashes.bin
Breadth-First-Search/.gradle/4.8/fileHashes/fileHashes.lock
Breadth-First-Search/.gradle/4.8/taskHistory/taskHistory.bin
Breadth-First-Search/.gradle/4.8/taskHistory/taskHistory.lock
Breadth-First-Search/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Breadth-First-Search/.idea/dictionaries/Hulla.xml
Breadth-First-Search/.idea/workspace.xml
